@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="font-size:19px" id="messagesList">
</div>

<div class="container">
    <div class="row">
        <input class="form-control" name="txt" type="text" id="ThePrompt" />
        <button class="btn btn-light" id="promptBtn">Submit</button>
    </div>
</div>