@{
    ViewData["Title"] = "Home Page";
}

<div class="container chat" id="messagesList">
</div>

<div class="container sendMessageBox">
    <div class="row">
        <input class="form-control" name="txt" type="text" id="ThePrompt" />
        <button class="btn btn-light" id="promptBtn">Submit</button>
    </div>
</div>

<script>

    $('#ThePrompt').on('keypress', function (e) {
        if (e.which === 13) {
            $('#promptBtn').trigger('click');
            $('#ThePrompt').val("");
        }
    });
</script>